@page
@model Internship.ViewModels.Account.RegisterViewModel;
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>


    <div class="main">
        <partial name="Register" model="@Model" />
    </div>

</div>